services:
  gotify:
    image: gotify/server
    container_name: gotify
    restart: unless-stopped
    volumes:
      - gotify_data:/app/data
    networks:
      - internal_net
    ports:
      - 8080:80

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped
    volumes:
      - uptime_kuma_data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - internal_net
    ports:
      - 3001:3001

  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - internal_net
    ports:
      - 8888:8080

volumes:
  gotify_data:
  uptime_kuma_data:

networks:
  internal_net:
    external: true
